<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009082169764-v7fp2e06lk8j9vobkdeqci8m0aq4j4jk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009082169764-v7fp2e06lk8j9vobkdeqci8m0aq4j4jk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1009082169764-mogf8g8lt1ik6esfn0gptlteshlivf34.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTR2Y0PG-UajR-Uxdm-Sc0eFadIGiwxFw</string>
	<key>GCM_SENDER_ID</key>
	<string>1009082169764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lopp.app</string>
	<key>PROJECT_ID</key>
	<string>the-loop-d46af</string>
	<key>STORAGE_BUCKET</key>
	<string>the-loop-d46af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009082169764:ios:9798f3ead0bcbfa680a931</string>
</dict>
</plist>